@model IEnumerable<QualityBags.Models.Bag>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h2>Index</h2>

    <div><a asp-action="Create">Create New</a></div>

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="eachItemBlock">
                <div class="itemImage">
                    <img class="thumbnailImage" src="~/uploads/@Html.DisplayFor(modelItem => item.ImagePath)" />
                </div>
                <div>
                    <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                    <h5>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(modelItem => item.Price)</h5>
                    @Html.ActionLink("Details", "Details", "Bags", new { id = @item.ID }, new { @class = "btn btn-info btn-sm" }) | 
                    @Html.ActionLink("Edit", "Edit", "Bags", new { id = @item.ID }, new { @class = "btn btn-warning btn-sm" }) | 
                    @Html.ActionLink("Delete", "Delete", "Bags", new { id = @item.ID }, new {@class = "btn btn-danger btn-sm" })
                </div>
            </div>
        </div>
    }

</div>
